@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1 style="color:red">
    Informacion Controller --> View
</h1>

<h2>
    Nombre: @ViewData["NOMBRE"]
    Edad: @ViewData["EDAD"]
    Dia de la semana: @ViewBag.DiaSemana
</h2>
